html[dark] {
    --button-default-bg: #2d2d2d;
    --button-default-bg-hover: #2f2f2f;
    --button-default-bg-active: #292929;
    --button-default-color: #babbbd;
    --button-white-bg: #1c1c1e;
    --button-white-hover: #222224;
    --button-white-color: #ddd;
    --button-white-border: hsla(240,5%,48%,.1);
    --button-primary-bg: #40abe9;
    --button-primary-bg-hover: #2ea3e7;
    --button-primary-bg-active: #239ee6;
    --button-primary-color: #fff;
    --blue: #1484ff;
    --green: #4ae29b;
    --purple: #ac83f7;
    --border-base: #38383a;
    --border-light: #292929;
    --border-opacity: rgba(84,84,88,.65);
    --text-primary: #ddd;
    --text-primary-inverse: #000;
    --text-secondary: #aaa;
    --text-muted: #868e96;
    --text-link: #1992d8;
    --link-border-color: hsla(0,0%,100%,.3);
    --text-2: rgba(235,235,245,.6);
    --background: #141414;
    --background-dark: #444;
    --background-hover: hsla(240,5%,48%,.1);
    --background-header: #1c1c1e;
    --background-highlight: rgba(251,251,252,.035);
    --background-fill-1: hsla(240,3%,49%,.36);
    --background-fill-2: hsla(240,3%,49%,.32);
    --background-fill-3: hsla(240,4%,48%,.24);
    --background-fill-4: hsla(240,5%,48%,.1);
    --background-elevated-1: #1c1c1e;
    --background-elevated-2: #252527;
    --background-elevated-3: #3a3a3c;
    --foreground: #1c1c1e;
    --foreground-darken: hsla(240,5%,48%,.1);
    --input-border: #3b3d45;
    --input-border-focus: #4b4d55;
    --input-bg: #1a1a1a;
    --dropdown-bg: #252527;
    --tag-bg: #36373d;
    --tag-bg-light: hsla(0,0%,100%,.08);
    --tag-bg-light-hover: hsla(0,0%,100%,.15);
    --tag-border: #e8eaec;
    --tag-color: #6b6b6b;
    --tag-bg-alt: #f7f9fb;
    --scrollbar-track: #282828;
    --scrollbar-thumb: #444;
    --comment-highlight: #303335;
    --shadow-default: rgba(0,0,0,.2);
    --radio-group-bg-active: #636366;
    --secondary: #3a3e48;
}
